@charset "utf-8";
.style-1-1 {

	padding: 30px;
	text-align: center;

}
. addcar{
	color: blue;
		text-align: center;
}
. confirmation{
	color: blue;
		text-align: center;
}
. delete {
	color: blue;
		text-align: center;
}
. fix{
	color: blue;
		text-align: center;
}
. ownedcar{
	color: blue;
		text-align: center;
}
. registration{
	color: blue;
		text-align: center;
}
. resetting {
	color: blue;
		text-align: center;
}

